In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\python38\lib\site-packages (0.1.55)

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas>=0.24 in c:\python38\lib\site-packages (from yfinance) (1.2.0)
Requirement already satisfied: numpy>=1.15 in c:\python38\lib\site-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in c:\python38\lib\site-packages (from yfinance) (2.24.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\python38\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in c:\python38\lib\site-packages (from yfinance) (4.6.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python38\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\python38\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\python38\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python38\lib\site-packages (from requests>=2.20->yfinance) (1.25.10)
Requirement already satisfied: idna<3,>=2.5 in c:\python38\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\python38\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.14.0)

In [2]:
!pip install plotly

Requirement already satisfied: plotly in c:\python38\lib\site-packages (4.14.3)

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: retrying>=1.3.3 in c:\python38\lib\site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in c:\python38\lib\site-packages (from plotly) (1.14.0)

In [23]:
!pip install openpyxl

Collecting openpyxl

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\python38\python.exe -m pip install --upgrade pip' command.

  Downloading openpyxl-3.0.6-py2.py3-none-any.whl (242 kB)
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Using legacy setup.py install for et-xmlfile, since package 'wheel' is not installed.
Installing collected packages: jdcal, et-xmlfile, openpyxl
    Running setup.py install for et-xmlfile: started
    Running setup.py install for et-xmlfile: finished with status 'done'
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.6

In [24]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime
import plotly.graph_objects as pg
import ipywidgets as widgets
import IPython
from IPython.display import display

In [42]:
companies = pd.DataFrame(pd.read_excel("NSEcomp.xlsx"))
D = {}
companies_name = companies['Company Name'].tolist()
companies_symbol = companies['Symbol'].tolist()
i = 0
for company in companies_name:
    D[company] = companies_symbol[i]
    i += 1

    
label1 = widgets.Label("Enter Company Name :")
display(label1)
company = widgets.Combobox(
    placeholder = "Type Company Name",
    ensure_option = True,
    options = companies_name,
    disabled=False
)
display(company)
label2 = widgets.Label("Enter Time Duration :")
display(label2)
duration = widgets.Text(
    continuous_update=False,
    disabled=False
)
display(duration)
label3 = widgets.Label("Enter Time Interval :")
display(label3)
interval = widgets.Select(
    options = ['1m', '2m', '5m', '15m', '30m', '60m', '90m', '1h', '1d', '5d', '1wk', '1mo', '3mo'],
    value = "1h",
    disabled = False,
    continuous_update=False,
)
display(interval)

show = widgets.Button(
    description = "Show"
)

def fetch():
    global df
    company_name = D[company.value]
    msft = yf.Ticker(company_name + '.NS')
    df = pd.DataFrame(yf.download(company_name + '.NS', period = duration.value,interval = interval.value))
    print(df)
    df = df.dropna()
    dividends = pd.DataFrame(msft.dividends)
    print(dividends)
    stock_splits = pd.DataFrame(msft.splits)
    df["Dividends"] = dividends["Dividends"]
    df = df.fillna(0)
    df["Splits"] = stock_splits["Stock Splits"]
    df = df.fillna(1)
    df = df.reset_index()
    print(df)
    

def on_change(change):
    IPython.display.clear_output(wait=False)
    display(label1)
    display(company)
    display(label2)
    display(duration)
    display(label3)
    display(interval)
    display(show)
    fetch()
#     show.on_click(on_change)
#     df = yf.download(company.value, period=duration.value, interval=interval.value)
#     fig = pg.Figure(data=[pg.Candlestick(x=df.index,
#             open=df['Open'],
#             high=df['High'],
#             low=df['Low'],
#             close=df['Close'])])
#     fig.update_layout( title='Historical Data of Stock Prices', 
#                             yaxis_title=company.value+" Stock Price",
#                             xaxis_title=" Time",)
#     fig.show()
    
display(show)
show.on_click(on_change)

Label(value='Enter Company Name :')

Combobox(value='HDFC Bank Limited', ensure_option=True, options=('Reliance Industries Limited', 'Tata Consulta…

Label(value='Enter Time Duration :')

Text(value='2y', continuous_update=False)

Label(value='Enter Time Interval :')

Select(index=11, options=('1m', '2m', '5m', '15m', '30m', '60m', '90m', '1h', '1d', '5d', '1wk', '1mo', '3mo')…

Button(description='Show', style=ButtonStyle())

[*********************100%***********************]  1 of 1 completed
                   Open         High          Low        Close    Adj Close  \
Date
2019-04-01  1162.625000  1166.000000  1115.500000  1158.724976  1149.010376
2019-05-01  1158.724976  1232.500000  1135.800049  1212.675049  1202.508179
2019-06-01  1213.500000  1247.250000  1201.500000  1221.875000  1211.630981
2019-06-20          NaN          NaN          NaN          NaN          NaN
2019-07-01  1228.000000  1251.650024  1111.525024  1125.824951  1123.324951
2019-08-01  1114.550049  1144.500000  1069.800049  1113.974976  1111.501343
2019-08-01          NaN          NaN          NaN          NaN          NaN
2019-09-01  1113.974976  1282.699951  1084.000000  1227.449951  1227.449951
2019-09-19          NaN          NaN          NaN          NaN          NaN
2019-10-01  1231.500000  1263.900024  1181.150024  1230.349976  1230.349976
2019-11-01  1239.000000  1287.000000  1227.599976  1274.949951  1274.949951
2019-12-01  1273.949951  1305.500000  1234.199951  1272.099976  1272.099976
2020-01-01  1276.099976  1304.849976  1211.750000  1226.300049  1226.300049
2020-02-01  1220.000000  1259.900024  1170.099976  1177.650024  1177.650024
2020-03-01  1200.199951  1201.150024   738.750000   861.900024   861.900024
2020-04-01   863.849976  1019.000000   810.000000  1001.799988  1001.799988
2020-05-01  1001.799988  1001.799988   826.099976   951.650024   951.650024
2020-06-01   975.000000  1082.599976   928.000000  1065.849976  1065.849976
2020-07-01  1065.849976  1157.949951  1020.049988  1032.800049  1032.800049
2020-08-01  1025.949951  1148.800049   993.000000  1115.849976  1115.849976
2020-09-01  1128.000000  1145.949951  1025.000000  1078.599976  1078.599976
2020-10-01  1090.099976  1251.000000  1090.099976  1183.550049  1183.550049
2020-11-01  1194.349976  1464.400024  1177.500000  1440.849976  1440.849976
2020-12-01  1440.849976  1449.000000  1345.000000  1436.300049  1436.300049
2021-01-01  1440.000000  1511.650024  1342.000000  1390.500000  1390.500000
2021-02-01  1410.250000  1641.000000  1401.000000  1534.400024  1534.400024
2021-03-01  1564.000000  1572.550049  1540.699951  1558.900024  1558.900024
2021-03-02  1575.699951  1587.500000  1551.000000  1568.199951  1568.199951

                 Volume
Date
2019-04-01  154552166.0
2019-05-01  140215256.0
2019-06-01  101231920.0
2019-06-20          NaN
2019-07-01  140970808.0
2019-08-01  180786992.0
2019-08-01          NaN
2019-09-01  176051693.0
2019-09-19          NaN
2019-10-01  137198069.0
2019-11-01  112330501.0
2019-12-01  117016801.0
2020-01-01  137910086.0
2020-02-01  131226577.0
2020-03-01  473125765.0
2020-04-01  397741571.0
2020-05-01  383193554.0
2020-06-01  467983388.0
2020-07-01  352780703.0
2020-08-01  292230618.0
2020-09-01  208518898.0
2020-10-01  255629727.0
2020-11-01  256002266.0
2020-12-01  224469430.0
2021-01-01  203209754.0
2021-02-01  199359334.0
2021-03-01    6768009.0
2021-03-02    8054277.0
            Dividends
Date
1997-06-09      0.080
1998-06-11      0.100
1999-04-19      0.130
2000-04-06      0.160
2001-04-20      0.200
2002-05-07      0.250
2003-04-30      0.300
2004-05-06      0.350
2005-05-26      0.450
2006-05-11      0.550
2007-05-17      0.700
2008-04-29      0.850
2009-06-22      1.000
2010-06-10      1.200
2011-06-02      1.650
2012-06-28      2.150
2013-06-13      2.750
2014-06-05      3.425
2015-07-02      4.000
2016-06-29      4.750
2017-06-29      5.500
2018-05-31      6.500
2019-06-20      7.500
2019-08-01      2.500
         Date         Open         High          Low        Close  \
0  2019-04-01  1162.625000  1166.000000  1115.500000  1158.724976
1  2019-05-01  1158.724976  1232.500000  1135.800049  1212.675049
2  2019-06-01  1213.500000  1247.250000  1201.500000  1221.875000
3  2019-07-01  1228.000000  1251.650024  1111.525024  1125.824951
4  2019-08-01  1114.550049  1144.500000  1069.800049  1113.974976
5  2019-09-01  1113.974976  1282.699951  1084.000000  1227.449951
6  2019-10-01  1231.500000  1263.900024  1181.150024  1230.349976
7  2019-11-01  1239.000000  1287.000000  1227.599976  1274.949951
8  2019-12-01  1273.949951  1305.500000  1234.199951  1272.099976
9  2020-01-01  1276.099976  1304.849976  1211.750000  1226.300049
10 2020-02-01  1220.000000  1259.900024  1170.099976  1177.650024
11 2020-03-01  1200.199951  1201.150024   738.750000   861.900024
12 2020-04-01   863.849976  1019.000000   810.000000  1001.799988
13 2020-05-01  1001.799988  1001.799988   826.099976   951.650024
14 2020-06-01   975.000000  1082.599976   928.000000  1065.849976
15 2020-07-01  1065.849976  1157.949951  1020.049988  1032.800049
16 2020-08-01  1025.949951  1148.800049   993.000000  1115.849976
17 2020-09-01  1128.000000  1145.949951  1025.000000  1078.599976
18 2020-10-01  1090.099976  1251.000000  1090.099976  1183.550049
19 2020-11-01  1194.349976  1464.400024  1177.500000  1440.849976
20 2020-12-01  1440.849976  1449.000000  1345.000000  1436.300049
21 2021-01-01  1440.000000  1511.650024  1342.000000  1390.500000
22 2021-02-01  1410.250000  1641.000000  1401.000000  1534.400024
23 2021-03-01  1564.000000  1572.550049  1540.699951  1558.900024
24 2021-03-02  1575.699951  1587.500000  1551.000000  1568.199951

      Adj Close       Volume  Dividends  Splits
0   1149.010376  154552166.0        0.0     1.0
1   1202.508179  140215256.0        0.0     1.0
2   1211.630981  101231920.0        0.0     1.0
3   1123.324951  140970808.0        0.0     1.0
4   1111.501343  180786992.0        2.5     1.0
5   1227.449951  176051693.0        0.0     1.0
6   1230.349976  137198069.0        0.0     1.0
7   1274.949951  112330501.0        0.0     1.0
8   1272.099976  117016801.0        0.0     1.0
9   1226.300049  137910086.0        0.0     1.0
10  1177.650024  131226577.0        0.0     1.0
11   861.900024  473125765.0        0.0     1.0
12  1001.799988  397741571.0        0.0     1.0
13   951.650024  383193554.0        0.0     1.0
14  1065.849976  467983388.0        0.0     1.0
15  1032.800049  352780703.0        0.0     1.0
16  1115.849976  292230618.0        0.0     1.0
17  1078.599976  208518898.0        0.0     1.0
18  1183.550049  255629727.0        0.0     1.0
19  1440.849976  256002266.0        0.0     1.0
20  1436.300049  224469430.0        0.0     1.0
21  1390.500000  203209754.0        0.0     1.0
22  1534.400024  199359334.0        0.0     1.0
23  1558.900024    6768009.0        0.0     1.0
24  1568.199951    8054277.0        0.0     1.0

,Sr. No.,Symbol,Company Name,Market capitalization (Rs in Lakhs),Unnamed: 4
0,1,RELIANCE,Reliance Industries Limited-RELIANCE,125856321.024160,NaN
1,2,TCS,Tata Consultancy Services Limited-TCS,107421393.171015,NaN
2,3,HDFCBANK,HDFC Bank Limited-HDFCBANK,79041413.905328,NaN
3,4,HINDUNILVR,Hindustan Unilever Limited-HINDUNILVR,56281270.532270,NaN
4,5,INFY,Infosys Limited-INFY,53489485.222992,NaN
...,...,...,...,...,...
1908,1909,VISESHINFO,Visesh Infotecnics Limited-VISESHINFO,"* Not Traded as on December 31, 2020",NaN
1909,1910,VISUINTL,Visu International Limited-VISUINTL,"* Not Traded as on December 31, 2020",NaN
1910,1911,WINSOME,Winsome Yarns Limited-WINSOME,"* Not Traded as on December 31, 2020",NaN
1911,1912,XLENERGY,XL Energy Limited-XLENERGY,"* Not Traded as on December 31, 2020",NaN
1912,1913,ZYLOG,Zylog Systems Limited-ZYLOG,"* Not Traded as on December 31, 2020",NaN